.body {
    background-color: #1e1e1e;
    font-color: #ffffff;

    .project {
        background-color: #393939;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
}