.body {
    background-color: #101010;
    color: #ffffff;

    .project {
        background-color: #272727;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
}