.body {
    background-color: #ffffff;
    text-color: #000000;

    .project {
        background-color: #ffffff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
}